@import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Khand', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    /* display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto; */
}

.section-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    & .cont-cards{
        display: flex;
    }
}

.card{
    width: 288px;
    background-color: rgb(194, 192, 192);
    padding: 16px;
    margin: 25px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 20px 12px 12px rgba(0, 0, 0, 0.603);
    
}

.card__img{
    width: 100%;
}

.card__h4{
    font-size: 20px;
    font-weight: 600;
}

.card__p{
    font-size: 16px;
}

.card__btn{
    background-color: #D4B17B;
    border: 0;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    border: solid black 1.5px;
    cursor: pointer;
}

.card__img,
.card__h4,
.card__p{
    margin-bottom: 10px;
}

.titulo__servicios{
    margin: 20px;
    font-size: 40px;
    font-weight: 800;
    color: #000000;
    text-align: center;
}